html, body
{
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

body {
  overflow-x: hidden;
}

@font-face{
	font-family: "Calafia";
	src: url('../assets/fonts/Calafia-Regular.otf');
}

.p-hero {
	height: 94vh;

	padding-top: 3vh;
	padding-bottom: 3vh;

	display: flex;
	justify-content: center;

	background: #f3f3f3;
	/*  */
}

.container { 
	height: 100%;
	margin-left: 50px;
	margin-right: 50px;
}

.flexbox-spacebetween {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 100%;
}

.header {
	min-width: 100%;
}
#fixed-header {
	position: fixed;
	height: 70px;
	min-width: 100%;
	top: 0; 
	background-color: rgba(255, 255, 255, .9);
	display: none; 
}

.small-logo img {
	width: 175px;
}

#menu {
	min-height: 50%;
  min-width: 25%;
	display: flex;
	justify-content: flex-end;
}

#menu li {
	display: inline;
	margin-right: 30px;
	color: white;
	opacity: 0.9;

	font-size: .7vmax;
	font-weight: 800;
}

#hero-content { 
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#hero-content>p{
	display: flex;
	align-items: center;
	text-align: center;

	color: white;
	font-size: 1.7em; 
	height: 10%;

	margin-bottom: 50px;
}

#hero {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

}

.slogan {
	font-family: 'Calafia';
	color: black;
	font-size: 10vmax;
	text-align: center;
	margin: auto;
}

.slogan-b {
	color: white;
	font-size: 1.5vmax;
	text-align: center;
	line-height: 1.8;
}

.blackColor{
	color:rgba(255, 146, 4, 1);
}

.button {
	border-radius: 100px;
	text-decoration: none;
	display: inline-block;
	text-align: center;
}

/* #talkButton{
	background-color: #2E2D2A;
	color: white;
	font-size: 16px;
	min-width: 190px;

	padding: 0 40px;
	min-height: 65px;
	height: 65px;
	line-height: 65px;
} */

#headerButton{
	background: linear-gradient(to bottom, rgba(255, 146, 4, 1) 0%, rgba(255, 98, 55, 1) 100%);
	color: white;
	font-size: 12px;

	padding: 0 15px;
	line-height: 35px;
}

.button:hover {
	transform: scale(1.05);
	box-shadow: 0 16px 32px rgba(0, 0, 0, .15);
	opacity: 1;
	transition: .2s cubic-bezier(.55,0,.1,1)
}
#BannerButton:hover{
	color: rgba(255, 98, 55, 1);
	background-color: #fff;
}

.arrow {
	position: absolute;
	bottom: 0;
	font-size: 2em;
}

.arrow:hover {
	cursor: pointer;
}

.arrow a {
	color: white;
}

.arrow a i {
	animation-name: test;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	position: relative;
}

@keyframes test {
	0% { bottom: 0px; }
	50% { bottom: 10px; }
	100% { bottom: 0px; }
}

@media screen and (max-width: 1500px) {
	#menu li {
		font-size: 0.9vmax !important;
	}
}

@media screen and (max-width: 1200px) {
  #menu li {
    font-size: 1.7vmax !important;
  }
}

@media screen and (max-width: 713px) {
  div.row {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 520px) {
  div.flexbox-spacebetween {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 450px) {
  #fixed-header {
    height: 80px;
  }

  .slogan {
    font-size: 12vmax;
  }

  .slogan-b {
    font-size: 2.4vmax;
  }

  #headerButton {
    margin-bottom: 10px;
  }

  #headerButton {
    font-size: 12px !important;
  }

  .container div div img {
    margin-top: 20px;
  }

  .container {
    height: 80%;
  }

  #talkButton {
    font-size: 15px;
  }
}