@import url("https://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900");
#ComoFunciona {
  height: 80vh;
  width: 100%;
  text-align: center; }
  #ComoFunciona #ComoFuncionaHeader {
    font-size: 2.5rem;
    margin-top: -25px; }
  #ComoFunciona #ComoFuncionaContainer #CardContainer {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-content: center;
    padding: 0; }
  #ComoFunciona #ComoFuncionaContainer h2 {
    font-size: 2.5rem;
    font-weight: 800; }
  #ComoFunciona #ComoFuncionaContainer .card {
    height: 300px;
    width: 27%;
    padding: 3%;
    background: linear-gradient(to bottom, #ff6237 0%, #ff9204 100%); }
    #ComoFunciona #ComoFuncionaContainer .card img {
      fill: white !important; }
    #ComoFunciona #ComoFuncionaContainer .card .card-title {
      font-size: 1.8rem;
      color: white;
      text-transform: uppercase; }
    #ComoFunciona #ComoFuncionaContainer .card p {
      font-size: 1.2rem;
      color: white; }

#Comecando {
  min-height: 100vh;
  width: 100%;
  text-align: center;
  padding: 0;
  margin: 0;
  background-color: #221E22;
  color: white; }
  #Comecando #ComecandoContainer {
    padding: 5%; }
    #Comecando #ComecandoContainer #ComecandoHeader {
      font-size: 2.5rem; }
    #Comecando #ComecandoContainer #ComecandoCardContainer {
      display: flex;
      justify-content: space-between;
      align-content: center;
      color: #221E22; }
      #Comecando #ComecandoContainer #ComecandoCardContainer .comecandoCard {
        padding: 2%;
        width: 45%;
        background: white; }
      #Comecando #ComecandoContainer #ComecandoCardContainer p {
        text-align: left;
        margin-bottom: 55px;
        font-size: 1.2rem; }
      #Comecando #ComecandoContainer #ComecandoCardContainer #ComecandoCollapse dl {
        border-radius: 8px;
        overflow: hidden; }
      #Comecando #ComecandoContainer #ComecandoCardContainer #ComecandoCollapse dl dt {
        background-color: transparent;
        border-bottom: solid 1px rgba(0, 0, 0, 0.3);
        border-top: solid 1px rgba(255, 255, 255, 0.1);
        color: black;
        cursor: pointer;
        padding: 10px 10px 10px 30px;
        position: relative; }
      #Comecando #ComecandoContainer #ComecandoCardContainer #ComecandoCollapse dd {
        background-color: transparent;
        color: rgba(0, 0, 0, 0.8);
        display: none;
        border: solid 1px #e7e7e7;
        margin: 0;
        padding: 10px;
        text-align: left; }
      #Comecando #ComecandoContainer #ComecandoCardContainer #ComecandoCollapse .fechado::after, #Comecando #ComecandoContainer #ComecandoCardContainer #ComecandoCollapse .aberto::after {
        content: "\25c2";
        display: table;
        font-size: 2em;
        left: 2%;
        line-height: 50px;
        position: absolute;
        text-shadow: 0 -1px #111;
        top: -3px;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out; }
      #Comecando #ComecandoContainer #ComecandoCardContainer #ComecandoCollapse .fechado::after {
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg); }
      #Comecando #ComecandoContainer #ComecandoCardContainer #ComecandoCollapse .aberto::after {
        -webkit-transform: rotate(-180deg);
        -moz-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        -o-transform: rotate(-180deg);
        transform: rotate(-180deg); }
    #Comecando #ComecandoContainer #ComecandoFooter p {
      margin-top: 100px; }

#Planejando {
  padding: 0;
  margin: 0;
  min-height: 90vh;
  background: #F44E3F; }
  #Planejando #PlanejandoHeader {
    text-align: center;
    margin: 0px;
    padding: 50px; }
    #Planejando #PlanejandoHeader h2 {
      font-size: 2.5em;
      color: white; }
  #Planejando #PlanejandoContainer {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center; }
    #Planejando #PlanejandoContainer p {
      text-align: center;
      font-size: 1.3em;
      margin: 0;
      margin-bottom: 50px; }
    #Planejando #PlanejandoContainer h3 {
      font-size: 2em;
      color: white; }

#QuantoCusta {
  padding: 0;
  margin: 0;
  min-height: 70vh;
  text-align: center;
  background: #F44E3F; }
  #QuantoCusta #QuantoCustaHeader {
    margin: 0;
    padding: 0; }
    #QuantoCusta #QuantoCustaHeader h2 {
      margin: 0;
      padding: 70px;
      font-size: 2.5em;
      color: white; }
  #QuantoCusta #QuantoCustaContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px; }
    #QuantoCusta #QuantoCustaContainer p {
      font-size: 1.3em;
      margin: 0;
      padding: 50px; }
    #QuantoCusta #QuantoCustaContainer h2 {
      font-size: 2.5em;
      color: white; }
    #QuantoCusta #QuantoCustaContainer #QuantoCustaCTA {
      background-color: #2E2D2A;
      color: white;
      font-size: 16px;
      min-width: 190px;
      padding: 0 40px;
      min-height: 65px;
      height: 65px;
      line-height: 65px;
      width: 80px; }
      #QuantoCusta #QuantoCustaContainer #QuantoCustaCTA:hover {
        color: #ff6237;
        background-color: #fff; }

#Seguranca {
  padding: 0;
  margin: 0;
  min-height: 60vh; }

#Footer {
  min-height: 30vh;
  display: flex;
  justify-content: center;
  background: black; }

/*# sourceMappingURL=styles.css.map */
