@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");
@font-face {
  font-family: "Calafia";
  src: url("../fonts/Calafia-Regular.otf"); }
body {
  background-color: white;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif; }

.container {
  width: 60%;
  margin-left: auto;
  margin-right: auto; }

#Header {
  width: 100%;
  height: 65px;
  background-color: white; }
  @media only screen and (max-width: 1200px) {
    #Header {
      height: 40px; } }
  @media only screen and (max-width: 979px) {
    #Header {
      height: 35px; } }
  @media only screen and (max-width: 767px) {
    #Header {
      height: 30px; } }
  @media only screen and (max-width: 480px) {
    #Header {
      height: 20px; } }
  @media only screen and (max-width: 320px) {
    #Header {
      height: 15px; } }
  #Header #HeaderContainer {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    #Header #HeaderContainer img {
      height: 100%; }
    #Header #HeaderContainer #Menu {
      color: #4f4f4f;
      display: flex; }
      #Header #HeaderContainer #Menu a {
        text-decoration: none;
        color: black; }
      #Header #HeaderContainer #Menu .menuItem {
        height: 100%;
        font-size: 12pt;
        font-weight: 400;
        text-transform: uppercase;
        padding-left: 10px;
        padding-right: 10px; }
        @media only screen and (max-width: 1200px) {
          #Header #HeaderContainer #Menu .menuItem {
            font-size: 12pt; } }
        @media only screen and (max-width: 979px) {
          #Header #HeaderContainer #Menu .menuItem {
            font-size: 10pt; } }
        @media only screen and (max-width: 767px) {
          #Header #HeaderContainer #Menu .menuItem {
            font-size: 8pt; } }
        @media only screen and (max-width: 480px) {
          #Header #HeaderContainer #Menu .menuItem {
            font-size: 6pt; } }
        @media only screen and (max-width: 320px) {
          #Header #HeaderContainer #Menu .menuItem {
            font-size: 5pt; } }

#Banner {
  width: 100%;
  height: 50vh;
  min-height: 50vh;
  background: url("../assets/imgs/background-banner.png");
  position: static; }
  #Banner #BannerContainer {
    height: 66%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 30px; }
    #Banner #BannerContainer #MainText {
      font-family: 'Calafia', 'Lato', sans-serif;
      font-size: 61pt;
      color: #ff7127; }
      #Banner #BannerContainer #MainText span {
        color: #414141; }
      @media only screen and (max-width: 1200px) {
        #Banner #BannerContainer #MainText {
          font-size: 61pt; } }
      @media only screen and (max-width: 979px) {
        #Banner #BannerContainer #MainText {
          font-size: 45pt; } }
      @media only screen and (max-width: 767px) {
        #Banner #BannerContainer #MainText {
          font-size: 30pt; } }
      @media only screen and (max-width: 480px) {
        #Banner #BannerContainer #MainText {
          font-size: 23pt; } }
      @media only screen and (max-width: 320px) {
        #Banner #BannerContainer #MainText {
          font-size: 18pt; } }
    #Banner #BannerContainer #DescriptionText {
      font-size: 14pt;
      font-weight: 300;
      color: #515151;
      text-align: center; }
      @media only screen and (max-width: 1200px) {
        #Banner #BannerContainer #DescriptionText {
          font-size: 14pt; } }
      @media only screen and (max-width: 979px) {
        #Banner #BannerContainer #DescriptionText {
          font-size: 12pt; } }
      @media only screen and (max-width: 767px) {
        #Banner #BannerContainer #DescriptionText {
          font-size: 10pt; } }
      @media only screen and (max-width: 480px) {
        #Banner #BannerContainer #DescriptionText {
          font-size: 10pt; } }
      @media only screen and (max-width: 320px) {
        #Banner #BannerContainer #DescriptionText {
          font-size: 10pt; } }
    #Banner #BannerContainer #BannerButton {
      background-color: #ff7127;
      padding: 15px 30px 15px 30px;
      border-radius: 30px;
      text-transform: uppercase;
      color: white;
      cursor: pointer; }
      #Banner #BannerContainer #BannerButton a {
        text-decoration: none;
        color: white; }
      @media only screen and (max-width: 1200px) {
        #Banner #BannerContainer #BannerButton {
          padding: 15px 30px 15px 30px;
          border-radius: 30px;
          font-size: 12pt; } }
      @media only screen and (max-width: 979px) {
        #Banner #BannerContainer #BannerButton {
          padding: 15px 30px 15px 30px;
          border-radius: 30px;
          font-size: 11pt; } }
      @media only screen and (max-width: 767px) {
        #Banner #BannerContainer #BannerButton {
          padding: 15px 30px 15px 30px;
          border-radius: 10px;
          font-size: 10pt; } }
      @media only screen and (max-width: 480px) {
        #Banner #BannerContainer #BannerButton {
          padding: 15px 30px 15px 30px;
          border-radius: 10px;
          font-size: 8pt; } }
      @media only screen and (max-width: 320px) {
        #Banner #BannerContainer #BannerButton {
          padding: 15px 30px 15px 30px;
          border-radius: 10px;
          font-size: 7pt; } }
  #Banner #Notebook {
    width: 100%;
    text-align: center; }
    @media only screen and (max-width: 480px) {
      #Banner #Notebook img {
        width: 70%; } }
    @media only screen and (max-width: 320px) {
      #Banner #Notebook img {
        width: 60%; } }

#MainPage {
  margin-top: 200px;
  margin-bottom: 50px; }
  @media only screen and (max-width: 767px) {
    #MainPage {
      margin-top: 120px; } }
  #MainPage #MainPageContainer #Steps {
    display: flex; }
    @media only screen and (max-width: 767px) {
      #MainPage #MainPageContainer #Steps {
        flex-direction: column; } }
    #MainPage #MainPageContainer #Steps .stepItem {
      width: 33%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      padding-right: 20px; }
      @media only screen and (max-width: 767px) {
        #MainPage #MainPageContainer #Steps .stepItem {
          width: 100%;
          margin-top: 30px; } }
      #MainPage #MainPageContainer #Steps .stepItem:last-child {
        padding-right: 0; }
      #MainPage #MainPageContainer #Steps .stepItem .stepNumber {
        width: 45px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #d4d4d4;
        font-size: 20pt;
        border-radius: 50px;
        border: 1px solid #d4d4d4; }
      #MainPage #MainPageContainer #Steps .stepItem .stepTitle {
        font-size: 15pt;
        color: #515151;
        margin-top: 20px;
        margin-bottom: 20px; }
      #MainPage #MainPageContainer #Steps .stepItem .stepDescription {
        font-size: 12pt;
        color: #515151;
        text-align: center; }
  #MainPage #MainPageContainer #StartingWork {
    margin-top: 105px;
    display: flex;
    justify-content: space-between; }
    @media only screen and (max-width: 767px) {
      #MainPage #MainPageContainer #StartingWork {
        flex-direction: column; } }
    #MainPage #MainPageContainer #StartingWork #Board {
      width: 60%;
      display: flex;
      flex-wrap: wrap;
      padding-right: 50px; }
      @media only screen and (max-width: 767px) {
        #MainPage #MainPageContainer #StartingWork #Board {
          padding: 0;
          flex-direction: column;
          width: 100%; } }
      #MainPage #MainPageContainer #StartingWork #Board .box {
        width: 50%;
        padding: 20px;
        border: 1px solid #e2e2e2;
        box-sizing: border-box;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left; }
        @media only screen and (max-width: 767px) {
          #MainPage #MainPageContainer #StartingWork #Board .box {
            width: 100%; } }
        #MainPage #MainPageContainer #StartingWork #Board .box .title {
          font-size: 18pt; }
        #MainPage #MainPageContainer #StartingWork #Board .box .description {
          font-size: 11pt; }
        #MainPage #MainPageContainer #StartingWork #Board .box .readMore {
          font-size: 11pt;
          color: #ff7127;
          margin-top: 20px;
          cursor: pointer; }
          #MainPage #MainPageContainer #StartingWork #Board .box .readMore:hover {
            text-decoration: underline; }
      #MainPage #MainPageContainer #StartingWork #Board .firstBox {
        border-right: 0;
        border-bottom: 0; }
        @media only screen and (max-width: 767px) {
          #MainPage #MainPageContainer #StartingWork #Board .firstBox {
            border: 1px solid #e2e2e2; } }
      #MainPage #MainPageContainer #StartingWork #Board .lastBox {
        border-left: 0;
        border-top: 0; }
        @media only screen and (max-width: 767px) {
          #MainPage #MainPageContainer #StartingWork #Board .lastBox {
            border: 1px solid #e2e2e2; } }
    #MainPage #MainPageContainer #StartingWork #BoardDescription {
      width: 40%;
      color: #515151;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      @media only screen and (max-width: 767px) {
        #MainPage #MainPageContainer #StartingWork #BoardDescription {
          width: 100%;
          margin-top: 50px; } }
      #MainPage #MainPageContainer #StartingWork #BoardDescription #DescriptionTitle {
        font-size: 18pt; }
      #MainPage #MainPageContainer #StartingWork #BoardDescription #Description {
        font-size: 11pt; }
      #MainPage #MainPageContainer #StartingWork #BoardDescription #Observation {
        font-size: 9pt;
        color: #c6c6c6;
        text-align: right;
        margin-top: 40px; }
  #MainPage #MainPageContainer #Planning {
    display: flex;
    margin-top: 105px; }
    @media only screen and (max-width: 767px) {
      #MainPage #MainPageContainer #Planning {
        flex-direction: column;
        margin-top: 50px;
        align-items: center; } }
    #MainPage #MainPageContainer #Planning #Notebook {
      width: 60%;
      padding-left: 50px; }
      @media only screen and (max-width: 767px) {
        #MainPage #MainPageContainer #Planning #Notebook {
          width: 70%;
          padding-left: 0; } }
    #MainPage #MainPageContainer #Planning #PlanningDescription {
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      @media only screen and (max-width: 767px) {
        #MainPage #MainPageContainer #Planning #PlanningDescription {
          width: 100%; } }
      #MainPage #MainPageContainer #Planning #PlanningDescription #Title {
        font-size: 18pt; }
      #MainPage #MainPageContainer #Planning #PlanningDescription #Description {
        font-size: 11pt; }
  #MainPage #MainPageContainer #HowMuchItCosts {
    display: flex;
    margin-top: 105px; }
    @media only screen and (max-width: 767px) {
      #MainPage #MainPageContainer #HowMuchItCosts {
        flex-direction: column;
        margin-top: 50px; } }
    #MainPage #MainPageContainer #HowMuchItCosts #Price {
      width: 60%;
      padding-right: 50px;
      font-size: 79pt;
      color: #515151;
      display: flex;
      align-items: center;
      justify-content: center; }
      @media only screen and (max-width: 767px) {
        #MainPage #MainPageContainer #HowMuchItCosts #Price {
          width: 100%;
          font-size: 40px;
          padding: 0; } }
    #MainPage #MainPageContainer #HowMuchItCosts #PlanningDescription {
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      @media only screen and (max-width: 767px) {
        #MainPage #MainPageContainer #HowMuchItCosts #PlanningDescription {
          width: 100%;
          margin-top: 30px; } }
      #MainPage #MainPageContainer #HowMuchItCosts #PlanningDescription #Title {
        font-size: 18pt; }
      #MainPage #MainPageContainer #HowMuchItCosts #PlanningDescription #Description {
        font-size: 11pt; }
  #MainPage #MainPageContainer #Resume {
    margin-top: 105px;
    color: #515151;
    font-size: 18pt;
    text-align: center; }
    #MainPage #MainPageContainer #Resume span {
      font-family: 'Calafia', 'Lato', sans-serif;
      font-size: 25pt;
      color: #ff7127; }
    #MainPage #MainPageContainer #Resume #Button {
      width: auto !important;
      background-color: #ff7127;
      margin-top: 30px;
      padding: 15px 30px 15px 30px;
      border-radius: 30px;
      border: 0;
      text-transform: uppercase;
      color: white;
      cursor: pointer; }

#Footer {
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  min-height: 1vh;
  background-color: #F3F3F3; }
  #Footer i {
    margin: 5px; }

/*# sourceMappingURL=styles.css.map */
