#Banner {
    width: 100%;
    height: 50vh;
    min-height: 50vh;

    background: url("../assets/imgs/background-banner.png");
    position: static;

    #BannerContainer {
        height: 66%;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        padding: 30px;

        #MainText {
            font-family: 'Calafia', 'Lato', sans-serif;  
            font-size: 61pt;
            color: $orange;
            
            span {
                color: #414141;            
            }

            
            @media only screen and (max-width : 1200px) { font-size: 61pt; }
            
            @media only screen and (max-width : 979px) { font-size: 45pt; }
            
            @media only screen and (max-width : 767px) { font-size: 30pt; }
            
            @media only screen and (max-width : 480px) { font-size: 23pt; }
            
            @media only screen and (max-width : 320px) { font-size: 18pt; }
        }
        
        #DescriptionText {
            font-size: 14pt;
            font-weight: 300;
            color: #515151;
            text-align: center;

            @media only screen and (max-width : 1200px) { font-size: 14pt; }
            
            @media only screen and (max-width : 979px) { font-size: 12pt; }
            
            @media only screen and (max-width : 767px) { font-size: 10pt; }
            
            @media only screen and (max-width : 480px) { font-size: 10pt; }
            
            @media only screen and (max-width : 320px) { font-size: 10pt; }
        }

        #BannerButton {
            background-color: $orange;
            padding: 15px 30px 15px 30px;
            border-radius: 30px;
            
            text-transform: uppercase;
            color: white;

            cursor: pointer;

            a {
                text-decoration: none;
                color: white; 
            }

            @media only screen and (max-width : 1200px) { padding: 15px 30px 15px 30px; border-radius: 30px; font-size: 12pt; }
            
            @media only screen and (max-width : 979px) { padding: 15px 30px 15px 30px; border-radius: 30px; font-size: 11pt; }
            
            @media only screen and (max-width : 767px) { padding: 15px 30px 15px 30px; border-radius: 10px; font-size: 10pt; }
            
            @media only screen and (max-width : 480px) { padding: 15px 30px 15px 30px; border-radius: 10px; font-size: 8pt;}
            
            @media only screen and (max-width : 320px) { padding: 15px 30px 15px 30px; border-radius: 10px; font-size: 7pt;}
        }
    }
    #Notebook {
        width: 100%;
        text-align: center;

        img {
            @media only screen and (max-width : 480px) { width: 70%; }
            
            @media only screen and (max-width : 320px) { width: 60%; }
        }
    }
}