$body-bg-color: black;
$main-text-color: white;
$gama-color: #82c31f;
$background-gradient: linear-gradient(to bottom, rgba(255, 98, 55, 1) 0%, rgba(255, 146, 4, 1) 100%);
$planejando-background: #7371FC;
$seguranca-bg: #EFFFFA;
