#Footer {
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    min-height: 1vh; 
    background-color: #F3F3F3;

    i {
        margin: 5px;
    }
}