#MainPage {
    margin-top: 200px;
    margin-bottom: 50px; // remove this
    @media only screen and (max-width : 767px) { margin-top: 120px; }

    #MainPageContainer {
        #Steps {
            display: flex;
            
            @media only screen and (max-width : 767px) { flex-direction: column; }

            .stepItem {
                width: 33%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;

                padding-right: 20px;

                @media only screen and (max-width : 767px) { width: 100%; margin-top: 30px;}

                &:last-child {
                    padding-right: 0;
                }

                .stepNumber {
                    width: 45px;
                    height: 45px;           
                    
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                    color: #d4d4d4;
                    font-size: 20pt;

                    border-radius: 50px;
                    border: 1px solid #d4d4d4; 
                }

                .stepTitle {
                    font-size: 15pt;
                    color: #515151;
                    margin-top: 20px;
                    margin-bottom: 20px;
                }

                .stepDescription {
                    font-size: 12pt;
                    color: #515151;
                    text-align: center;
                }
            }
        }
        
        #StartingWork {
            margin-top: 105px;
            display: flex;
            justify-content: space-between;
            @media only screen and (max-width : 767px) { flex-direction: column; }

            #Board {
                width: 60%;
                display: flex;
                flex-wrap: wrap;

                padding-right: 50px;
                @media only screen and (max-width : 767px) { padding: 0; flex-direction: column; width: 100%;}

                .box{
                    width: 50%;
                    @media only screen and (max-width : 767px) { width: 100%; }

                    padding: 20px;
                    border: 1px solid #e2e2e2;
                    box-sizing: border-box;
                    position: relative;

                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: left;

                    .title {
                        font-size: 18pt;
                    }

                    .description {
                        font-size: 11pt;
                    }

                    .readMore {
                        font-size: 11pt;
                        color: $orange;
                        margin-top: 20px;
                        cursor: pointer;
                        
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }

                .firstBox {
                    border-right: 0;
                    border-bottom: 0;
                    @media only screen and (max-width : 767px) { border: 1px solid #e2e2e2; }
                }

                .lastBox {
                    border-left: 0;
                    border-top: 0;
                    @media only screen and (max-width : 767px) { border: 1px solid #e2e2e2; }
                }
            }

            #BoardDescription {
                width: 40%;
                @media only screen and (max-width : 767px) { width: 100%; margin-top: 50px; }
                color: #515151;

                display: flex;
                flex-direction: column;
                justify-content: center;
                
                #DescriptionTitle {
                    font-size: 18pt;
                }

                #Description {
                    font-size: 11pt;
                }

                #Observation {
                    font-size: 9pt;
                    color: #c6c6c6;
                    text-align: right;
                    margin-top: 40px;
                }
            }
        }

        #Planning {
            display: flex;
            @media only screen and (max-width : 767px) { flex-direction: column; margin-top: 50px; align-items: center;}

            margin-top: 105px;
            #Notebook {
                width: 60%;
                padding-left: 50px;
                @media only screen and (max-width : 767px) { width: 70%; padding-left: 0; }                 
            }

            #PlanningDescription {
                @media only screen and (max-width : 767px) { width: 100%; }
                width: 40%;
                display: flex;
                flex-direction: column;
                justify-content: center;

                #Title {
                    font-size: 18pt;
                }

                #Description {
                    font-size: 11pt;
                }
            }
        }

        #HowMuchItCosts {
            display: flex;
            
            @media only screen and (max-width : 767px) { flex-direction: column; margin-top: 50px;}

            margin-top: 105px;
            #Price {
                width: 60%;
                padding-right: 50px;
                @media only screen and (max-width : 767px) { width: 100%; font-size: 40px; padding: 0;}

                font-size: 79pt;
                color: #515151;

                display: flex;
                align-items: center;
                justify-content: center;
            }

            #PlanningDescription {
                width: 40%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                @media only screen and (max-width : 767px) { width: 100%; margin-top: 30px;}

                #Title {
                    font-size: 18pt;
                }

                #Description {
                    font-size: 11pt;
                }
            }
        }

        #Resume {
            margin-top: 105px;
            color: #515151;
            font-size: 18pt;
            text-align: center;

            span {
                font-family: 'Calafia', 'Lato', sans-serif;
                font-size: 25pt;
                color: $orange;                
            }

            #Button {
                width: auto !important;
                background-color: $orange;

                margin-top: 30px;
                padding: 15px 30px 15px 30px;

                border-radius: 30px;
                border: 0;

                text-transform: uppercase;
                color: white;

                cursor: pointer;
            }
        }
    }
}